<h2 class="link">Events List</h2>
<table>
  <thead>
    <th>Name</th>
    <th>Category</th>
  </thead>
  <tbody>

    <% @events.each do |e| %>
    <tr>
        <td><%= e.name %></td>
        <td><%= e.category.name%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="link"><%= link_to "Add New Event", new_event_path %></p>
